<!DOCTYPE html>
<!-- sections/dvSection.html -->
<html>
{% extends 'base.html' %}

{% block title %}Papaya: Section Search{% endblock %}

<body>
{% block content %}

{% block links %}
	    
		<li><a href="index.html">Home</a></li>
        <li><a href="lvCourses.html">View Requirements</a></li>
        <li><a href="lvSections_cID.html">Register For Classes</a></li>
	    <li><a href="degree_reqs.html">Class Search</a></li>
	
{% endblock %}

    <p>
        <!-- <a>
            {{section.course.id}} {{section.name}} {{section.professor}} <!-- Number of Students Enrolled --> /{{section.max_size}} {{section.semester}}
        </a> -->
        <br>
        <h3>Section:</h3>
        <table>
        <tr>
        	<th>Name</th>
        	<th>ID</th>
        	<th>Major</th>
        	<th>Professor</th>
        	<th>Time</th>
        	<th>Availability<th>
        	<th>Credits</th>
        </tr>
        <tr>
        	<td>{{section.name}}</td>
        	<td>{{section.course.id}}</td>
        	<td>{{section.course.major}}</td>
        	<td>{{section.professor}}</td>
        	<td>{{section.semester}}</td>
        	<td>{{section. }} / {{section.max_size}}</td>
        	<td>{{section.credits}}</td>
        </tr>
        </table>
        	
    </p>

{% endblock %}
</body>
</html>