<!DOCTYPE html>
<!-- sections/register.html -->
{% extends 'base.html' %}

{% block title %}Papaya: Course Registration{% endblock %}

{% block content %}

<p>
    Register for a course below by entering in the course and section ID: <br>
	
	<form>
        <fieldset>
            <legend>Papaya Course Registration</legend>
            <label>Course Entry</label>
            <input type="text" placeholder="Enter Course To Take…">
            <span class="help-block">Course/Section ID</span>
            <button type="submit" class="btn">Submit</button>
        </fieldset>
    </form>
   
{% endblock %}