<!DOCTYPE html>
<!-- courses/degree_reqs.html -->

{% extends 'base.html' %}
 
{% block content %}

    {% block links %}

        <{% block links %}
	    
		<li><a href="index.html">Home</a></li>
        <li><a href="lvCourses.html">View Requirements</a></li>
        <li><a href="lvSections_cID.html">Register For Classes</a></li>
	    <li class="active"><a href="degree_reqs.html">Class Search</a></li>
	
    {% endblock %}
	
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	    {% for degree in degrees %}
            <li><a tabindex="-1" href="#">{{degree.name}}</a></li>
		{% endblock %}
		
		{% for requirement in degree.prereq_set %}
		    <li><a href="requirement.id">{{requirement.name}}</a></li>
		
      
    </ul>
	
	{% endblock %}

    
