<!DOCTYPE html>
<!-- course/lvCourses.html -->
{% extends 'base.html' %}

{% block title %}Personalized Available Courses{% endblock %}

{% block content %}

{% block links %}
	    
		<li><a href="">Home</a></li>
        <li><a href="">View Requirements</a></li>
        <li class="active"><a href="">Register For Classes</a></li>
	    <li><a href="">Class Search</a></li>
	
	{% endblock &}

<p>
    <h2> Courses </h2>
    <table class="table table-striped">
	    <tr>
	        <th> Major </th> <th> Course Name </th> <th> Credits </th> 
	    </tr>
	    {% for course in courses %}
	        <tr>
	            <td> {{course.major.name}} </td>
		        <td> {{course.name}} </td>
		        <td> {{course.credit}} </td>
	        </tr>
	    {% endfor %}
	</table>
</p>
   
{% endblock %}