<!DOCTYPE html>
<!-- course/searchMaj.html -->
{% extends 'bSearch.html' %}

{% block title %}Papaya: Major Search{% endblock %}

{% block content %}

    {% block links %}
	    
		<li><a href="index.html">Home</a></li>
        <li><a href="lvCourses.html">View Requirements</a></li>
        <li><a href="lvSections_cID.html">Register For Classes</a></li>
	    <li class="active"><a href="degree_reqs.html">Class Search</a></li>
	
{% endblock %}

    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Major
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <!-- dropdown menu links -->
        </ul>
    </div>
   
{% endblock %}