<!DOCTYPE html>
<!-- course/searchMaj.html -->
{% extends 'bSearch.html' %}

{% block title %}Papaya: Major Search{% endblock %}

{% block content %}

    {% block links %}
	    
		<li><a href="">Home</a></li>
        <li><a href="">View Requirements</a></li>
        <li><a href="">Register For Classes</a></li>
	    <li class="active"><a href="">Class Search</a></li>
	
	{% endblock &}

    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Major
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <!-- dropdown menu links -->
        </ul>
    </div>
   
{% endblock %}