<!DOCTYPE html>
<!-- index.html -->

{% extends 'base.html' %}
 
{% block content %}

    <div class="hero-unit">
        <h1>Papaya Academic Course Manager</h1>
        <p>The latest in course management software</p>
        <p>
            <a class="btn btn-primary btn-large">
                Sign In
            </a>
        </p>
    </div>

{% block links %}
	    
		<li class="active"><a href="index.html">Home</a></li>
        <li><a href="lvCourses.html">View Requirements</a></li>
        <li><a href="lvSections_cID.html">Register For Classes</a></li>
	    <li><a href="degree_reqs.html">Class Search</a></li>
	
{% endblock %}

{% endblock %}

